<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

  <bean id="userInfoServiceImpl" class="bupt.sc.keystone.serviceImpl.UserInfoServiceImpl"></bean>

  <bean id="auth" class="bupt.sc.keystone.impl.AuthenticationImpl" scope="prototype">
    <property name="userInfoService" ref="userInfoServiceImpl"></property>
  </bean>
  <bean id="userManager" class="bupt.sc.keystone.impl.UserManagerImpl" scope="prototype">
    <property name="userInfoService" ref="userInfoServiceImpl"></property>
  </bean>
  
<!-- database -->
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
  
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	  <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	  <property name="url" value="jdbc:mysql://localhost:3306/networkingdb"/>
	  <property name="username" value="root"/>
	  <property name="password" value="root"/>
	</bean> 
	 
	<bean id="persistenceProvider" class="org.hibernate.ejb.HibernatePersistence"/>
	
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	  <property name="dataSource" ref="dataSource"/>
	  <property name="persistenceXmlLocation" value="classpath:persistence.xml"/>
	  <property name="persistenceProvider" ref="persistenceProvider"/>
	  <property name="persistenceUnitName" value="scEntityManager"/>
  </bean>
  
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>

  <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>