<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
  <persistence-unit name="scEntityManager" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
	    <class>bupt.sc.keystone.model.UserInfo</class>
	    <class>bupt.sc.neutron.model.SubnetInfo</class>
	    
	    <class>bupt.sc.nova.model.VNodeInfo</class>
	    <class>bupt.sc.nova.model.VRDEPort</class>
	    <class>bupt.sc.nova.model.VNNodeInfo</class>
	    <class>bupt.sc.nova.model.HMInfo</class>
	    <class>bupt.sc.nova.model.VNVdiInfo</class>
	    <class>bupt.sc.nova.model.IpInfo</class>
	    <exclude-unlisted-classes>true</exclude-unlisted-classes>
	    
	    <properties>
	       <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
	       <property name="hibernate.hbm2ddl.auto" value="update"/>
	       <property name="hibernate.show_sql" value="false"/>
	    </properties>
  </persistence-unit>
</persistence>